*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background:url("../img/Fondo.jpg") no-repeat;
    background-size: cover;
}

.Todo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

@media(max-width:700px){
    .Todo{
        flex-direction: column;
    }
}

/*======================================================================================
        Parte 1
======================================================================================*/
.Ventas{
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Ventas_Contenedor{
    width: 100%;
    background-color: #2f2f2f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Ventas_Contenedor_Mostrar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #f6f6f6;
    font-family: 1.2em;
}

.form-select{
    width: 50px;
    background: transparent;
    color: #ff7b00;
    font-size: 20px;
    border: solid 3px #f6f6f6;
    border-radius: 5px;

}

.input-group {
    position: relative;
   }
   
   .input {
    width: 100%;
    border: solid 1.5px #f6f6f6;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f6f6f6;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #2f2f2f;
    padding: 0 .2em;
    color: #2196f3;
   }

@media(max-width:700px){
    .Ventas{
        padding: 5px;
        width: 100%;
    }
}

/*======================================================================================
        Carrito
======================================================================================*/


.Carrito{
    width: 100%;
}

.Carrito_Contenedor{
    width: 100%;
    background-color: #2f2f2f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #f6f6f6;
    z-index:-4;
}

.Carrito_Boton{
    width: 100%;
    height: 30px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bolder;
    background-color: transparent;
    color: #f6f6f6;
    border: solid 3px #f6f6f6;
    text-align: center;
    transition: 0.4s;
    cursor: pointer;
}

.Carrito_Boton:hover{
    background-color: #f6f6f6;
    color: #2f2f2f;
}

@media(max-width:700px){
    .Carrito{
        width: 100%;
        padding: 5px;
    }
}

/*======================================================================================
        Parte 2
======================================================================================*/
.Tabla{
    width: 100%;
    padding: 30px;
}

.Tabla_Contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #2f2f2f;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
    color: #f6f6f6;
    overflow: hidden;
    padding: 15px;
}

.Tabla_Datos{
    width: 100%;
    text-align: center;
}


th{
    border-bottom: solid 2px #f6f6f6;
}
td{
    border-bottom: solid 2px #f6f6f6;
}

.page-link{
    text-decoration: none;
    color: #e8e8e8;
    transition: 0.4s;
    width: 100%;
    height: 100%;
    text-align: center;
}

.page-item{
    border: solid 3px #e8e8e8;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    cursor: pointer;
}

.page-item:hover{
    border: solid 3px #ff7b00;
    color: #ff7b00;
}
.page-item:hover .page-link{
    color: #ff7b00;
}

.active{
    border: solid 3px #ff7b00;
}

.Cont_Pag{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.Paginacion_Nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.pagination{
    margin-top: 20px;
    display: flex;
    gap: 5px;
}
@media(max-width:700px){
    .Tabla{
        padding: 5px;
    }
}